# Data Analysis Covid 19 Dataset Using Pandas

    Title     : Data Analysis Covid 19 Dataset Using Pandas  
    Author    : Sopianto Djahar
    Email     : idnsopianto@gmail.com
    Linkedin  : in/sopiantodjahar
    Github    : github.com/soppdj
    Credit    : Thanks for udemy.com/user/saima-aziz/

## Analysis Purpose 

* Q1. To show the number of confirmed, deaths and recovered cases in each region.
* Q2. In which region maximum number of confirmed ases were recorded?
* Q3. In which region minimum deaths were recorded?
* Q4. How many confirmed, death and cases were reported in Indonesia till April 29, 2020?
* Q5. To remove all the records where confirmed cases are less than 1000.

## Library

In [222]:
import pandas as pd

## Data Wrangling

In [223]:
# Loading dataset
file_path = "covid_19_data.csv"
covid_19 = pd.read_csv(file_path)

In [224]:
print(covid_19.head())

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

In [225]:
print(covid_19.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       321 non-null    object
 1   State      140 non-null    object
 2   Region     321 non-null    object
 3   Confirmed  321 non-null    int64
 4   Deaths     321 non-null    int64
 5   Recovered  321 non-null    int64
dtypes: int64(3), object(3)
memory usage: 15.2+ KB
None

In [226]:
print(covid_19.describe())

           Confirmed        Deaths      Recovered
count     321.000000    321.000000     321.000000
mean     9949.800623    709.152648    3030.277259
std     31923.853086   3236.162817   14364.870365
min         0.000000      0.000000       0.000000
25%       104.000000      2.000000       2.000000
50%       653.000000     12.000000      73.000000
75%      4655.000000    144.000000     587.000000
max    299691.000000  27682.000000  132929.000000

In [227]:
print(covid_19.shape)

(321, 6)

In [228]:
# Checking missing value
print(covid_19.count())

Date         321
State        140
Region       321
Confirmed    321
Deaths       321
Recovered    321
dtype: int64

In [229]:
# Checking boolean result
print(covid_19.isnull())

      Date  State  Region  Confirmed  Deaths  Recovered
0    False   True   False      False   False      False
1    False   True   False      False   False      False
2    False   True   False      False   False      False
3    False   True   False      False   False      False
4    False   True   False      False   False      False
..     ...    ...     ...        ...     ...        ...
316  False  False   False      False   False      False
317  False  False   False      False   False      False
318  False  False   False      False   False      False
319  False  False   False      False   False      False
320  False  False   False      False   False      False

[321 rows x 6 columns]

In [230]:
# Checking total value
print(covid_19.isnull().sum())

Date           0
State        181
Region         0
Confirmed      0
Deaths         0
Recovered      0
dtype: int64

In [231]:
# Checking duplicated value
print(covid_19.duplicated().sum())

0

## Exploratory Data Analysis (EDA)

In [232]:
# Loading dataset
file_path = "covid_19_data.csv"
covid_19 = pd.read_csv(file_path)

In [233]:
print(covid_19.head())

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

### Q1. show the number of confirmed, deaths and recovered cases in each region. Each using group by function!

In [234]:
# Each, using groupby fuction
covid_19.groupby('Region').sum().head(5)

                  Date State  Confirmed  Deaths  Recovered
Region
Afghanistan  4/29/2020     0       1939      60        252
Albania      4/29/2020     0        766      30        455
Algeria      4/29/2020     0       3848     444       1702
Andorra      4/29/2020     0        743      42        423
Angola       4/29/2020     0         27       2          7

In [235]:
# Showing only 'confirmed' cases alphabetically
print(covid_19.groupby('Region')['Confirmed'].sum().head(10))

Region
Afghanistan             1939
Albania                  766
Algeria                 3848
Andorra                  743
Angola                    27
Antigua and Barbuda       24
Argentina               4285
Armenia                 1932
Australia               6752
Austria                15402
Name: Confirmed, dtype: int64

In [236]:
# Showing 'confirmed' and 'deaths' cases alphabetically
covid_19.groupby('Region')[['Confirmed','Recovered']].sum().head(10)

                     Confirmed  Recovered
Region
Afghanistan               1939        252
Albania                    766        455
Algeria                   3848       1702
Andorra                    743        423
Angola                      27          7
Antigua and Barbuda         24         11
Argentina                 4285       1192
Armenia                   1932        900
Australia                 6752       5715
Austria                  15402      12779

### Q2. In which region maximum number of confirmed ases were recorded?

In [237]:
print(covid_19.groupby('Region')['Confirmed'].sum().sort_values(ascending=False).head(20))

Region
US                1039909
Spain              236899
Italy              203591
France             166543
UK                 166441
Germany            161539
Turkey             117589
Russia              99399
Iran                93657
Mainland China      82862
Brazil              79685
Canada              52865
Belgium             47859
Netherlands         38998
Peru                33931
India               33062
Switzerland         29407
Ecuador             24675
Portugal            24505
Saudi Arabia        21402
Name: Confirmed, dtype: int64

### Q3. In which region minimum deaths were recorded?

In [238]:
print(covid_19.groupby('Region').Deaths.sum().sort_values(ascending=True).head(20))

Region
Laos                        0
Mongolia                    0
Mozambique                  0
Cambodia                    0
Fiji                        0
Namibia                     0
Nepal                       0
Madagascar                  0
Macau                       0
Papua New Guinea            0
Rwanda                      0
Saint Kitts and Nevis       0
Bhutan                      0
Dominica                    0
Central African Republic    0
Saint Lucia                 0
Holy See                    0
Sao Tome and Principe       0
Yemen                       0
Western Sahara              0
Name: Deaths, dtype: int64

### Q4. How many confirmed, death and cases were reported in Indonesia till April 29, 2020?

In [239]:
covid_19[covid_19.Region == 'Indonesia']

         Date State     Region  Confirmed  Deaths  Recovered
75  4/29/2020   NaN  Indonesia       9771     784       1391

### Q5. To remove all the records where confirmed cases are less than 1000

In [240]:
covid_19.head(5)

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

In [241]:
# Displaying result in data frame. True is < 1000 and False is > 1000
covid_19.Confirmed < 1000

0      False
1       True
2      False
3       True
4       True
       ...
316     True
317     True
318     True
319     True
320    False
Name: Confirmed, Length: 321, dtype: bool

In [242]:
# Displaying result in data frame which 'Confirmed' is less than 1000
covid_19[covid_19.Confirmed < 1000]

,Date,State,Region,Confirmed,Deaths,Recovered
1,4/29/2020,NaN,Albania,766,30,455
3,4/29/2020,NaN,Andorra,743,42,423
4,4/29/2020,NaN,Angola,27,2,7
5,4/29/2020,NaN,Antigua and Barbuda,24,3,11
10,4/29/2020,NaN,Bahamas,80,11,23
...,...,...,...,...,...,...
314,4/29/2020,Western Australia,Australia,551,8,507
316,4/29/2020,Wyoming,US,545,7,0
317,4/29/2020,Xinjiang,Mainland China,76,3,73
318,4/29/2020,Yukon,Canada,11,0,0
319,4/29/2020,Yunnan,Mainland China,185,2,181

In [243]:
# Removing dataset which 'Confirmed' is less than 10
covid_19[~(covid_19.Confirmed) < 1000]

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan       1939      60        252
1    4/29/2020       NaN         Albania        766      30        455
2    4/29/2020       NaN         Algeria       3848     444       1702
3    4/29/2020       NaN         Andorra        743      42        423
4    4/29/2020       NaN          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[321 rows x 6 columns]

In [244]:
# If checking dataset, but the value 'Confirmed' is still exist 
covid_19.head(10)

        Date State               Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN          Afghanistan       1939      60        252
1  4/29/2020   NaN              Albania        766      30        455
2  4/29/2020   NaN              Algeria       3848     444       1702
3  4/29/2020   NaN              Andorra        743      42        423
4  4/29/2020   NaN               Angola         27       2          7
5  4/29/2020   NaN  Antigua and Barbuda         24       3         11
6  4/29/2020   NaN            Argentina       4285     214       1192
7  4/29/2020   NaN              Armenia       1932      30        900
8  4/29/2020   NaN              Austria      15402     580      12779
9  4/29/2020   NaN           Azerbaijan       1766      23       1267

In [245]:
# To remove dataset which 'Confirmed' is less than 1000 "Permanently"
covid_19 = covid_19[covid_19['Confirmed'] >= 1000]

In [246]:
# Checking dataset one more time
covid_19.head(10)

         Date State       Region  Confirmed  Deaths  Recovered
0   4/29/2020   NaN  Afghanistan       1939      60        252
2   4/29/2020   NaN      Algeria       3848     444       1702
6   4/29/2020   NaN    Argentina       4285     214       1192
7   4/29/2020   NaN      Armenia       1932      30        900
8   4/29/2020   NaN      Austria      15402     580      12779
9   4/29/2020   NaN   Azerbaijan       1766      23       1267
11  4/29/2020   NaN      Bahrain       2921       8       1455
12  4/29/2020   NaN   Bangladesh       7103     163        150
14  4/29/2020   NaN      Belarus      13181      84       2072
15  4/29/2020   NaN      Belgium      47859    7501      11283